.features {
 display: grid;
 grid-template-columns: 1fr;
 @media(min-width: 992px) {
 grid-template-columns: 1fr 1fr;
 margin-bottom: 40px;
 }
}

.feature_item {
 display: flex;
 flex-direction: row;
 margin-top: 20px;
 @media(min-width: 992px) {
  width: 90%;
 }
}

.feature_title {
 font-weight: 600;
 font-size: 20px;
 margin-left: 10px;
 @media(min-width: 992px) {
  font-size: 28px;
 }
}

.feature_description {
 margin-left: 10px;
 margin-top: 10px;
 @media(min-width: 992px) {
  font-size: 20px;
 }
}