.wrapper {
 display: flex;
 flex-direction: row;
 align-items: center;
 padding: 20px 0;
}

.title {
 font-family: "Montserrat", sans-serif;
}
.subtitle {
 font-family: "Montserrat", sans-serif;
}

.logo {
 margin-right: 10px;
}