:root {
  --background: #FFFFFF
  --primary-color: #111111;
  --secondary-color: #696969;
  --accent-color: #06AA5C
}

* {
	padding: 0px;
	margin: 0px;
	border: none;
}


body {
  background: var(--background);
  font-family: 'Montserrat Variable';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Montserrat Variable', sans-serif;
  font-weight: 400;
}